/** Color palette: https://coolors.co/cb997e-eddcd2-fff1e6-f0efeb-ddbea9-a5a58d-b7b7a4 */

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:wght@500;700&display=swap');
@import 'mixins';

/* Color definitions */
$color-black: #000000;
$color-gray: #323232;
$color-medgray: #666666;
$color-lightgray: #65615F;
$color-white: #fafafa;
$color-blush: #FFF1E6;
$color-blush-dark: #EDDCD2;
$color-accent: #B7B7A4;
$color-accent-dark: #A5A58D;

// DB6948
$font-primary: 'Public Sans', sans-serif;
$font-secondary: 'Brygada1918', serif;
$font-color: $color-gray;
$font-grey: $color-lightgray;
$font-highlight: $color-accent;

$spacer: rem(60px);
$spacer-small: rem(30px);
$column-width: rem(1280px);
$container-padding: $spacer $spacer rem(60px);
$transition: all 500ms ease-in-out;

* {
    box-sizing: border-box;
}

html {
    width: 100%;
}

body {
    background-color: $color-white;
    box-sizing: border-box;
    color: $font-color;
    font: 400 18px $font-primary;
    margin: $spacer 0 0 10%;
    padding: 0;

    @media (max-width: 768px) {
        margin-left: 5%;
        margin-right: 5%;
    }
}

a {
    color: $font-color;
    font-weight: 600;
    letter-spacing: 0.1;
    text-decoration: none;
    transition: all 100ms ease-in-out;

    &:hover {
        border-bottom: 3px solid;
        border-color: $color-accent-dark;
        color: $color-black;
    }
}

h1,
h2 {
    margin: 0;
}

h1 {
    color: $color-white;
}

h2 {
    font: 400 rem(48px) $font-secondary;
    line-height: 1.5;
    margin-bottom: $spacer-small;

    @media (max-width: 768px) {
        font-size: rem(32px);
    }
}

p {
    font: 400 rem(20px) $font-secondary;
    line-height: rem(28px);
    margin: 0;
}

img {
    border-radius: 10%;
    width: 400px;
}

.container {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    margin-bottom: calc(#{$spacer} * 1.5);
    padding: $spacer-small 0 0;

    @media (max-width: 768px) {
        flex-direction: column;
        flex-wrap: wrap;
        margin-bottom: calc(#{$spacer} * 0.8);
    }

    .left {
        width: 30%;

        @media (max-width: 768px) {
            width: 100%;
        }
    }

    .right {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 70%;

        @media (max-width: 768px) {
            width: 100%;
        }
    }

    img {
        margin-bottom: $spacer;
        width: 400px;

        @media (max-width: 768px) {
            width: 100%;
        }

        &.wide {
            width: 550px;

            @media (max-width: 768px) {
                width: 100%;
            }
        }
    }
}
