@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,800);
@import url(https://fonts.googleapis.com/css?family=Amiri:400,700);

$font-color: #393D41;
$font-grey: #788087;
$font-highlight: #DB6948;

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: $font-color;
    background-color: #fefefe;
    overflow: scroll;
    @media (min-width: 800px) {
        overflow: hidden;
        font-size: 16px;
    }
}

a {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px; 
    color: $font-color;
    text-decoration: none;
    &:hover {
        color: $font-highlight;
    }
}

.container {
    display: flex;
    flex-direction: column;
    @media (min-width: 800px) {
        flex-direction: row;
    }
}

.left {
    display: flex;
    width: 100%;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: space-around;
    align-content: stretch;
    align-items: flex-start;
    height: auto;
    padding-left: 1%;
    margin-top: 2em;
    @media (min-width: 800px) {
        width: 40%;
        height: 100vh;
        margin-top: 0;
    }
    h3, h1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 2.5em;
        font-weight: 800;
        margin: 0;
        line-height: 1.1em;
    }
    h1 {
        font-size: 5em;
    }
    h3 {
        padding-left: 4px;
    }
    div {
        flex: 1 1 auto;
    }
    p {
        color: $font-highlight;
        flex: 1 1 auto;
        padding-left: 5px;
    }
    .links {
        flex: 0 1 auto;
        padding-bottom: 5%;
        font-weight: 600;
    }
}

.right {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    height: auto;
    width: 100%;
    @media (min-width: 800px) {
        height: 100vh;
        width: 60%;
    }
    .item {
        padding: 1em 1%;
        flex: 1 1 auto;
        @media (min-width: 800px) {
            padding: 1.5em;
        }
        h1 {
            font-family: 'Amiri';
            font-weight: 400;
            font-size: 20px;
            margin: 0;
            line-height: 1em;
        }
        h3 {
            color: $font-grey;
            font-weight: 400;
            font-size: 12px;
            margin: 0;
        }
    }
}

.divider {
    background-color: #BFBFBF;
    position: inherit;
    width: 90vw;
    height: 1px;
    margin: auto;
    @media (min-width: 800px) {
        position: absolute;
        width: 1px;
        height: 70vh;
        left: 38%;
        top: 15vh;
    }
}